/* add animal */
.animal-add-container {
    padding: 1em 0;
}

.add-animal-form__label {
    margin: 0;
    padding: 0;
}

.add-animal-form__label:not(:first-of-type) {
    margin-top: 1em;
    margin-bottom: .3em;
}


.add-animal-form__photo {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.add-animal-form__photo + label {
    font-size: 15px;
    padding: 10px;
    font-weight: 400;
    color: white;
    background-color: #997965;
    display: inline-block;
    cursor: pointer;
    border-radius: .3em;
    text-align: center;
    transition: background-color .4s;
}

.add-animal-form__photo.uploaded + label {
    background-color: #CC6321!important;
}

.add-animal-form__photo:focus + label,
.add-animal-form__photo + label:hover {
    background-color: #BF3F32;
}

.add-animal-form__photo:focus {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.add-animal-form__submit {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-animal-form__submit input[type="submit"] {
    display: block;
    margin-top: 2em;
}

@media screen and (max-width: 736px){
    .animal-add-container {
        grid-column-start: 3;
        grid-column-end: 11;
    }
}

@media screen and (max-width: 425px){
    .animal-add-container {
        padding: 2em 1em 0 1em;
        grid-column-start: 1;
        grid-column-end: 13;
    }
}