/* edit animal */
.animal {
    position: relative;
    box-shadow: 0 0 4px #BCBFBF;
    font-size: 1em;
    padding: 1em 2em;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    background-color: white;
    z-index: 0;
    transition: all .2s ease-in-out;
}

.animal:hover {
    transform: scale(1.09);
    z-index: 1;
}

.animal:not(first-of-type) {
    margin-top: 10px;
}

.animal__photo {
    vertical-align: top;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    box-shadow: 0 0 5px #7E7F7F;
    display: inline-block;
    position: relative;
    overflow: hidden;
}

.animal__photo__inner {
    position: absolute;

    max-width: 130%;
    max-height: 130%;

    z-index: 0;

    width: auto;
    height: auto;

    margin: 50% 0 0 50%;
    transform: translate(-50%, -50%);
}

.animal__infos {
    height: 150px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 15%;
    /*font-size: 19px;*/
}

.animal__type__inner,
.animal__nom__inner,
.animal__race__inner,
.animal__age__inner,
.animal__ville__inner {
    font-weight: bolder;
}

.animal-content-container {
    padding: 20px 0 90px 0;
}

.animal__delete {
    position: absolute;
    right: 15px;
    top: 15px;
    height: 14px;
    line-height: 0;
}

.animal__delete__inner {
    font-size: 14px;
}

.animal-add {
    margin-top: 2em;
    margin-left: 6em;
}

.animal-add__link {
    text-decoration: none;
    display: inline-block;
    width: 100px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 15px;
    background-color: #e74c3c;
    color: white;
    border-radius: 20px;
    font-weight: bolder;
    transition: all .4s;
}

.animal-add__link:hover {
    background-color: #BF3F32;
    color: white;
    box-shadow: 0 0 4px #BFB2A8;
}

.animal-add__link--mobile {
    display: none;
}

/* laptop */
@media screen and (max-width: 1439px) {
    .animal__infos {
        font-size: .9em;
    }
}

@media screen and (max-width: 1300px) {
    .animal-content-container {
        grid-column-start: 4;
        grid-column-end: 10;
    }

    .animal-add-button-container {
        grid-column-start: 10;
    }

    .animal-add {
        margin-left: 50%;
        transform: translateX(-50%);
    }
}

/* tablets */
@media screen and (max-width: 900px) {
    .animal-content-container {
        grid-column-start: 3;
        grid-column-end: 11;
    }

    .animal-add-button-container {
        grid-column-start: 11;
    }

    .animal-add__link {
        display: none;
    }

    .animal-add__link--mobile {
        text-decoration: none;
        background-color: #e74c3c;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        color: white;
        border-radius: 100%;
        box-shadow: 2px 2px 5px gray;
    }
}

@media screen and (max-width: 670px) {
    .animal__infos {
        font-size: .8em;
    }
}

@media screen and (max-width: 550px) {
    .animal__photo {
        display: none;
    }

    .animal__infos {
        width: 100%;
        margin-left: 0;
        align-items: center;
    }
}

@media screen and (max-width: 375px) {
    .animal-add {
        margin-top: calc(-25px / 2);
        margin-left: 0;
    }

    .animal-content-container {
        padding-top: 30px;
    }
}