.animal__email__inner {
    font-weight: bolder;
}

.animal__infos--match {
    min-height: 180px;
    height: auto;
    max-width: 50%;
    margin-left: 10%;
}

.animal__contact {
    display: block;
}

.no-match {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.animal__email {
    width: 100%;
}

.animal__email__inner {
    width: 100%;
    overflow-x: scroll;
}

@media screen and (max-width: 1000px) {
    .list-matchs-container {
        grid-column-end: 12;
    }
}

@media screen and (max-width: 885px) {
    .animal__infos--match {
        margin-left: 8%;
    }

    .animal {
        padding: 1em 1em;
    }
}

@media screen and (max-width: 550px) {
    .list-matchs-container {
        grid-column-start: 2;
    }

    .animal__infos--match {
        max-width: 100%;
        width: 100%;
        margin-left: 0;
        align-items: center;
    }

    .animal__email {
        text-align: center;
    }
}