/* login form */
.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

.login__form {
    width: 50%;
}

.login__form__label {
    font-size: 2em;
    margin: .4em 0 .1em;
}

.login__form__input {
    width: 100%;
}

.login__form__submit {
    margin: 2em 0;
}