/* logo */
.logo {
    width: 25%;
}

.logo:before {
    content: url('/src/assets/img/logo.svg');
    display: block;
    width: 100%;
}

@media screen and (max-width: 425px) {
    .logo {
        width: 50%;
    }
}