/* general */
body {
    overflow-x:hidden;
}

label {
    font-weight: 400;
}

.container {
    font-size: 20px;
}

.h-100 {
    height: 100%;
}
.w-100 {
    width: 100%;
}

.inline-block {
    display: inline-block;
}

.fullVH {
    height: 100vh;
}

.fw-400 {
    font-weight: 400;
}

.text--medium {
    font-size: 20px;
}

input[type='submit'] {
    border: solid;
    background-color: #e74c3c;
    color: white;
    border-radius: 7px;
    height: auto;
    font-weight: 400;
}

input[type='submit']:hover {
    background-color: #CC0000;
}