/* general */
body {
    overflow-x:hidden;
}

label {
    font-weight: 400;
}

.container {
    font-size: 20px;
}

.h-100 {
    height: 100%;
}
.w-100 {
    width: 100%;
}

.inline-block {
    display: inline-block;
}

.fullVH {
    height: 100vh;
}

.fw-400 {
    font-weight: 400;
}

.text--medium {
    font-size: 20px;
}

input[type='submit'] {
    border: solid;
    background-color: #e74c3c;
    color: white;
    border-radius: 7px;
    height: auto;
    font-weight: 400;
}

input[type='submit']:hover {
    background-color: #CC0000;
}

/* add animal */
.animal-add-container {
    padding: 1em 0;
}

.add-animal-form__label {
    margin: 0;
    padding: 0;
}

.add-animal-form__label:not(:first-of-type) {
    margin-top: 1em;
    margin-bottom: .3em;
}


.add-animal-form__photo {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.add-animal-form__photo + label {
    font-size: 15px;
    padding: 10px;
    font-weight: 400;
    color: white;
    background-color: #997965;
    display: inline-block;
    cursor: pointer;
    border-radius: .3em;
    text-align: center;
    transition: background-color .4s;
}

.add-animal-form__photo.uploaded + label {
    background-color: #CC6321!important;
}

.add-animal-form__photo:focus + label,
.add-animal-form__photo + label:hover {
    background-color: #BF3F32;
}

.add-animal-form__photo:focus {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.add-animal-form__submit {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-animal-form__submit input[type="submit"] {
    display: block;
    margin-top: 2em;
}


/* edit animal */
.animal {
    position: relative;
    box-shadow: 0 0 4px #BCBFBF;
    font-size: 1em;
    padding: 1em 1em;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    background-color: white;
    z-index: 0;
    transition: all .2s ease-in-out;
}

.animal:hover {
    transform: scale(1.09);
    z-index: 1;
}

.animal:not(first-of-type) {
    margin-top: 10px;
}

.animal__photo {
    vertical-align: top;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    box-shadow: 0 0 5px #7E7F7F;
}

.animal__infos {
    height: 150px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    font-size: 19px;
}

.animal__type__inner,
.animal__nom__inner,
.animal__race__inner,
.animal__age__inner,
.animal__ville__inner {
    font-weight: bolder;
}

.animal-content-container {
    padding: 20px 0 90px 0;
}

.animal__delete {
    position: absolute;
    right: 15px;
    top: 15px;
    height: 14px;
    line-height: 0;
}

.animal__delete__inner {
    font-size: 14px;
}

.animal-add {
    margin-top: 2em;
    margin-left: 6em;
}

.animal-add__link {
    text-decoration: none;
    display: inline-block;
    width: 100px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 15px;
    background-color: #e74c3c;
    color: white;
    border-radius: 20px;
    font-weight: bolder;
    transition: all .4s;
}

.animal-add__link:hover {
    background-color: #BF3F32;
    color: white;
    box-shadow: 0 0 4px #BFB2A8;
}

/* edit profil */
.profil-edit {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profil-edit__form {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.profil-edit__form label {
    margin: 0;
    padding: 0;
}

.profil-edit__form input:not(:last-of-type) {
    margin-bottom: 20px;
    margin-top: 5px;
}

.profil-edit__form input[type='submit'] {
    align-self: center;
    width: 30%;
}



/* footer */
#footer .inner .content .connect {
    text-decoration: none;
    border: solid 1px white;
    padding: 1em;
    background-color: whitesmoke;
    color: #E74C3C;
    font-weight: 400;
    border-radius: 100px;
    transition: all .6s ease-out;
}

#footer .inner .content .connect:hover {
    color: whitesmoke;
    background-color: #E74C3C;
}


/* homepage */
.home--connected {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.home--connected .username {
    color: #E74C3C;
    font-weight: 400;
}


/* logo */
.logo {
    width: 25%;
}

.logo:before {
    content: url('/src/assets/img/logo.svg');
    display: block;
    width: 100%;
}



/* login form */
.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

.login__form {
    width: 50%;
}

.login__form__label {
    font-size: 2em;
    margin: .4em 0 .1em;
}

.login__form__input {
    width: 100%;
}

.login__form__submit {
    margin: 2em 0;
}



/* messages */
.message-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 100000000;
    margin-top: 1em;

    /*border: solid red;*/
}

.message {
    display: inline-block;
    position: relative;

    box-shadow: 0 0 4px red;
    background-color: white;
    width: 50%;
    min-height: 3em;
    word-break: break-all;
    font-weight: 400;
}

.message.success {
    box-shadow: 0 0 4px #35CC43;
}

.message.hidden {
    display: none;
}

.message:not(:first-child) {
    margin-top: .5em;
}

.message__inner {
    width: 90%;
    padding: 1em 0 1em 1em;
}

.message__close {
    display: block;
    position: absolute;
    right: 1em;
    top: 50%;
    transform: translateY(-50%);
}

.message__close__cross:hover {
    color: #7F2922;
}

.message.success .message__close__cross {
    color: #35CC43;
}

.message.success .message__close__cross:hover {
    color: #2C7F34;
}